@model LibraryManagementSystem.Models.Borrow
@{
    ViewData["Title"] = "Details Borrows ";
}

      <h2 class="mb-4">
        @ViewData["Title"]
        </h2>

    <div class="col-md-6 shadow rounded-3">
         <div class="card-header bg-warning mt-3 h2 rounded-top fw-bold">
             <i class="bi bi-book ms-2"></i>
          <span class="fw-semibold fs-5">Borrow Information</span>
         </div>

         <table class="table table-bordered table-striped mb-0">
             <tr class="">
                <th class="">Book</th>
                <td class="">@Model.Book?.Title</td>
             </tr>

             <tr class="">
                <th class="">Member</th>
                <td class="">@Model.Member?.Name</td>
             </tr>
         </table>
    </div>