
@model LibraryManagementSystem.Models.Book
@{
    ViewData["Title"] = "Add New Book";
}

  <!-- # search Button -->

 <h2>Add New Book</h2>

<form asp-action = "Create" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger">
            
        </span>

    </div> 
    <div class="mb-3">
        <label asp-for="ISBN" class="form-label"></label>
        <input asp-for="ISBN" class="form-control" />

    </div> 
    <div class="mb-3">
        <label asp-for="TotalCopies" class="form-label"></label>
         <input asp-for="TotalCopies" class="form-control" />

    </div> 
    <div class="mb-3">
        <label asp-for="AvailableCopies" class="form-label"></label>
         <input asp-for="AvailableCopies" class="form-control" />

    </div> 
     
       <!-- CategoryId ----------------------------------->
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>

            <select asp-for="CategoryId"
            asp-items="ViewBag.Categories"
            class="form-select">
            <option value="0">-- Select Category --</option>
            </select>

        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>



    <!-- Author ----------------------------------->
        <div class="mb-3">
            <label asp-for="AuthorId" class="form-label"></label>

        <select asp-for="AuthorId"
        asp-items="ViewBag.Authors"
        class="form-select">
        <option value="0">-- Select Author --</option>
        </select>

            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>
          <!-- Publishers ----------------------------------->
                
                <div class="mb-3">
            <label asp-for="PublisherId" class="form-label"></label>

            <select asp-for="PublisherId"
            asp-items="ViewBag.Publishers"
            class="form-select">
                <option value="0">-- Select Publisher --</option>
            </select>

            <span asp-validation-for="PublisherId" class="text-danger"></span>
        </div>


          <!-- Button ----------------------------------->

     <button 
        type="Submit" class="btn btn-success">
          Save
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Back To List
    </a> 

  </form>

  @section Scripts 
    {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }