
@model LibraryManagementSystem.Models.Book
@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>


         <div class="card shadow ">
            <div class="card header bg-primary text-white">
                <h3 class="mb-0">
                    <i class="bi bi-book"></i>
                      Book Datails
                </h3>
             </div>

              @*book list start*@ 
                   <div class="card body"> 
                       <div class="row mb-3">
                           <div class="col-md-3 fw-bold">Title</div>
                           <div class="col-md-9">@Model.Title</div>
                       </div>
                      

                       <div class="mt-4">
                           <a asp-action="Index" 
                              asp-route-id="@Model.Id"
                              class="btn btn-warning" >
                                <i class="bi bi-pencil-square"></i>
                                 Edit
                              </a>

                              <a asp-action="Index" 
                              asp-route-id="@Model.Id"
                              class="btn btn-secondary">
                               <i class="bi bi-arrow-left"></i>
                                 Back
                              </a>
                       </div>

                       
                   </div>    
          </div>