
    @model LibraryManagementSystem.Models.Member
    @{
        ViewData["Title"] = "Delete Member";
    }

<h2 class="mb-4">
    <i class="bi bi-trash-fill text-danger"></i>
    Delete Member
</h2>

<div class="card shadow rounded-4">

    <div class="card-header bg-danger text-white py-3 px-4">
        <span class="fw-bold fs-4">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            Confirm Delete
        </span>
    </div>

    <div class="card-body">

        <div class="alert alert-warning">
            <i class="bi bi-exclamation-circle-fill"></i>
            <strong>Warning!</strong>
            This action cannot be undone.
        </div>

        <table class="table table-bordered table-striped fs-5">

            <tr>
                <th width="250">Name</th>
                <td>@Model.Name</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>

            <tr>
                <th>Phone</th>
                <td>@Model.Phone</td>
            </tr>

            <tr>
                <th>Category</th>
                <td>@Model.Address</td>
            </tr>
        </table>

    </div>

    <div class="card-footer text-center">

        <form asp-action="Delete" method="post">

            <input asp-for="Id" type="hidden" />

            <button type="submit"
                    class="btn btn-danger px-4 py-2 me-2">
                <i class="bi bi-trash-fill"></i>
                Delete
            </button>

            <a asp-action="Index"
               class="btn btn-secondary px-4 py-2">
                <i class="bi bi-arrow-left"></i>
                Cancel
            </a>

        </form>

    </div>

</div>