
@model LibraryManagementSystem.Models.Member
@{
    ViewData["Title"] = " Member Details";
}

    <h2 class="mb-4">
    @ViewData["Title"]
    </h2>

    <div class="col-md-6 shadow rounded-3">
        
    </div>