@model LibraryManagementSystem.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="bg-light-subtle text-light-emphasis p-3 rounded shadow mb-4">
        <h2 class="mb-0 fw-bold">
            Login..
        </h2>
    </div>

<div>
    
</div>