@model LibraryManagementSystem.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="bg-light-subtle text-light-emphasis p-3 rounded shadow mb-4">
        <h2 class="mb-0 fw-bold">
             <i class="bi bi-box-arrow-in-right text-primary"></i> Login..
        </h2>
    </div>

    <div class="card shadow-lg border-0 rounded-4">
        <div class="">
            <h4>User Login</h4>
        </div>
    </div>