
@model LibraryManagementSystem.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

    <h1 class="md-4 text-bold ">
    @ViewData["Title"]
    </h1>
      

      <form asp-action="Register" method="post" class="mt-3">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <div class="mb-3">
            <label asp-for="Name" class="h3"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label asp-for="Email" class="h3"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label asp-for="Password" class="h3"></label>
              <div  class="input-group">
                <input asp-action="password"
                       class="form-control"
                       id="password">
                
                <button class="btn btn-outline-secondary"
                             type="button"
                             onclick="togglePassword('password', this)">
                                <i class="bi bi-eye"></i>
                </button>
              </div>
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label asp-for="ConfirmPassword" class="h3"></label>
             <div  class="input-group">
                <input asp-action="ConfirmPassword"
                       class="form-control"
                       id="confirmPassword">
                
                <button class="btn btn-outline-secondary"
                             type="button"
                             onclick="togglePassword('confirmPassword', this)">
                                <i class="bi bi-eye"></i>
                </button>
              </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
          </div>

          <button type="submit" class="btn btn-success w-30">
              <span class="h2"> Register</span>
          </button>

      </form>

        @section Scripts{
        <partial name="_ValidationScriptsPartial"/>
        }


  <script>
     function togglePassword(id,button)
       {
        const input = document.getElementById(id);
        const icon = button.querySelector("i");

        if(input.type == "password")
           {
            input.type = "text";
            icon.classList.remove("bi-eye");
            icon.classList.add("bi-eye-slash");
           }
           else
           {
            input.type = "password";
            icon.classList.remove("bi-eye-slash");
            icon.classList.add("bi-eye");
           }
       }
  </script>